.ant-layout{
    height: 100vh !important;
    
}

/* .logo{
    max-width: 50px;
    max-width: 10px;
}
.userLogo{
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    width: 2vw;
    height: 4vh;
    
} */

.header{
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.logo{
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
}
.userLogo{
    object-fit: cover;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.headerRight{
    display: flex;
    align-items: center;
    gap: 30px;
}
.bellIcon{
    font-size: 30px;
}
.inputSearch{
border: none;
background-color: #f2f2f3;
}
.ant-input {
background-color: #f2f2f3;
}
.contentChart{
    background-color: #f2f2f3;

}
.dropdown{
    width: 30px;
    height:30px;
}
.ant-menu-item-active, .ant-menu-item-selected{
    background-color: #43a903 !important;
    color: #ffffff !important;
    text-shadow: #000000 !important;
    
}
.ant-menu-item{
border-radius: 0 !important;
}

